package pages

import "github.com/cayo-rodrigues/nff/web/components"
import "github.com/cayo-rodrigues/nff/web/models"

templ EntitiesPage(entities []*models.Entity) {
	<div>
		@components.EntityList(entities)
	</div>
}
