{{ define "entity-card" }}
    {{ if . }}
        <tr class="flex cursor-pointer gap-12 rounded px-6 py-3 shadow shadow-gray-300 transition-all hover:shadow-gray-500 {{ if .IsSelected }} bg-gray-700 text-white {{ end }}"
            hx-get="/entities/{{ .Id }}/form" hx-trigger="click" hx-target="#entity-form" hx-swap="outerHTML"
            id="entity-{{ .Id }}">
            <td class="flex-1 truncate text-center"> {{ .Name }} </td>
            <td class="flex-1 truncate text-center"> {{ if .CpfCnpj }} {{ .CpfCnpj }} {{ else }} - {{ end }}</td>
            <td class="flex-1 truncate text-center"> {{ if .Ie }} {{ .Ie }} {{ else }} - {{ end }}</td>
            <td class="flex-1 truncate text-center"> {{ if .Address.Neighborhood }} {{ .Address.Neighborhood }} {{ else }} - {{ end }}</td>
        </tr>
    {{ end }}
{{ end }}
