{{ define "partials/invoice-form" }}

<form id="invoice-form">
    <div class="flex items-center gap-6 border-b border-gray-300 bg-white pb-2">
        <button hx-post="/invoices" hx-target="#requests-overview" hx-swap="afterbegin" class="icon-btn flex w-full justify-center gap-3 rounded bg-green-400 px-4 py-2 hover:bg-green-500 active:bg-green-600 md:w-auto">
            <svg class="hx-indicator relative top-1 animate-spin" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/></svg>
            <svg class="original-icon translate-y-1 transform" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"> <path d="M156.6 384.9L125.7 354c-8.5-8.5-11.5-20.8-7.7-32.2c3-8.9 7-20.5 11.8-33.8L24 288c-8.6 0-16.6-4.6-20.9-12.1s-4.2-16.7 .2-24.1l52.5-88.5c13-21.9 36.5-35.3 61.9-35.3l82.3 0c2.4-4 4.8-7.7 7.2-11.3C289.1-4.1 411.1-8.1 483.9 5.3c11.6 2.1 20.6 11.2 22.8 22.8c13.4 72.9 9.3 194.8-111.4 276.7c-3.5 2.4-7.3 4.8-11.3 7.2v82.3c0 25.4-13.4 49-35.3 61.9l-88.5 52.5c-7.4 4.4-16.6 4.5-24.1 .2s-12.1-12.2-12.1-20.9V380.8c-14.1 4.9-26.4 8.9-35.7 11.9c-11.2 3.6-23.4 .5-31.8-7.8zM384 168a40 40 0 1 0 0-80 40 40 0 1 0 0 80z" /> </svg>
            <span>Requerer NFA</span>
        </button>
        <button class="flex w-full justify-center gap-3 rounded bg-sky-300 px-4 py-2 hover:bg-sky-400 active:bg-sky-500 md:w-auto" type="button">
            <svg class="translate-y-1 transform" xmlns="http://www.w3.org/2000/svg" height="1em"
                viewBox="0 0 576 512">
                <path
                d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V285.7l-86.8 86.8c-10.3 10.3-17.5 23.1-21 37.2l-18.7 74.9c-2.3 9.2-1.8 18.8 1.3 27.5H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM549.8 235.7l14.4 14.4c15.6 15.6 15.6 40.9 0 56.6l-29.4 29.4-71-71 29.4-29.4c15.6-15.6 40.9-15.6 56.6 0zM311.9 417L441.1 287.8l71 71L382.9 487.9c-4.1 4.1-9.2 7-14.9 8.4l-60.1 15c-5.5 1.4-11.2-.2-15.2-4.2s-5.6-9.7-4.2-15.2l15-60.1c1.4-5.6 4.3-10.8 8.4-14.9z"/>
            </svg>
            <span>Usar Modelo</span>
        </button>
        <p id="invoice-form-msg" class="flex-1 text-red-500 {{ if not .FormMsg }} hidden {{ end }}">{{ .FormMsg }}</p>
    </div>

    <section>
        <div class="flex border-b border-gray-400 py-4 md:flex-col md:gap-6">

            <div class="flex w-1/2 flex-col gap-4 pr-4 md:w-full md:flex-1 md:flex-row md:pr-0">

                <div class="flex flex-col gap-2 md:w-1/5">
                    <label for="sender"><strong>Remetente</strong></label>
                    <select class="h-10 rounded bg-gray-100 p-2" id="sender" name="sender">
                        {{ range .FormSelectFields.Entities }}
                            <option {{ if eq $.Invoice.Sender.ID .ID }} selected {{ end }} value="{{ .ID }}">{{ .Name }}</option>
                        {{ end }}
                    </select>
                    <sub class="text-red-500">{{ .Invoice.Errors.Sender }}</sub>
                </div>

                <div class="flex flex-col gap-2 md:w-1/5">
                    <label for="recipient"><strong>Destinatário</strong></label>
                    <select class="h-10 rounded bg-gray-100 p-2" id="recipient" name="recipient">
                        {{ range .FormSelectFields.Entities }}
                            <option {{ if eq $.Invoice.Recipient.ID .ID }} selected {{ end }} value="{{ .ID }}">{{ .Name }}</option>
                        {{ end }}
                    </select>
                    <sub class="text-red-500">{{ .Invoice.Errors.Recipient }}</sub>
                </div>

                <div class="flex flex-col gap-2 md:w-1/5">
                    <label for="operation"><strong>Operação</strong></label>
                    <select class="h-10 rounded bg-gray-100 p-2" id="operation" name="operation">
                        {{ range .FormSelectFields.Operations }}
                            <option {{ if eq $.Invoice.Operation . }} selected {{ end }} value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select>
                    <sub class="text-red-500">{{ .Invoice.Errors.Operation }}</sub>
                </div>

                <div class="flex flex-col gap-2 md:w-1/5">
                    <label for="cfop"><strong>CFOP</strong></label>
                    <select class="h-10 rounded bg-gray-100 p-2" id="cfop" name="cfop">
                        {{ range .FormSelectFields.Cfops }}
                            <option {{ if eq $.Invoice.Cfop . }} selected {{ end }} value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select>
                    <sub class="text-red-500">{{ .Invoice.Errors.Cfop }}</sub>
                </div>

                <div class="flex flex-col gap-2 md:w-1/5">
                    <label class="truncate" for="is_icms_contributor"><strong>Contribuinte ICMS</strong></label>
                    <select class="h-10 rounded bg-gray-100 p-2" id="is_icms_contributor" name="is_icms_contributor">
                        {{ range .FormSelectFields.IcmsOptions }}
                            <option {{ if eq $.Invoice.IsIcmsContributor . }} selected {{ end }} value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select>
                    <sub class="text-red-500">{{ .Invoice.Errors.IsIcmsContributor }}</sub>
                </div>

            </div>

            <div class="flex w-1/2 flex-col gap-4 md:w-full md:flex-1 md:flex-row">

                <div class="flex flex-col gap-2 md:w-1/5">
                    <label class="truncate" for="is_final_customer"><strong>Consumidor Final</strong></label>
                    <select class="h-10 rounded bg-gray-100 p-2" id="is_final_customer" name="is_final_customer">
                        {{ range .FormSelectFields.BooleanField }}
                            <option {{ if eq $.Invoice.IsFinalCustomer . }} selected {{ end }} value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select>
                    <sub class="text-red-500">{{ .Invoice.Errors.IsFinalCustomer }}</sub>
                </div>

                <div class="flex flex-col gap-2 md:w-1/5">
                    <label for="shipping"><strong>Frete</strong></label>
                    <input class="rounded bg-gray-100 p-2 md:w-full" type="number" step="0.01" id="shipping" name="shipping"
                        value="{{ .Invoice.Shipping }}">
                    <sub class="text-red-500">{{ .Invoice.Errors.Shipping }}</sub>
                </div>

                <div class="flex flex-col gap-2 md:w-1/5">
                    <label class="truncate" for="add_shipping_to_total"><strong>Adicionar Frete ao Total</strong></label>
                    <select class="h-10 rounded bg-gray-100 p-2 md:w-full" id="add_shipping_to_total"
                        name="add_shipping_to_total">
                        {{ range .FormSelectFields.BooleanField }}
                            <option {{ if eq $.Invoice.AddShippingToTotal . }} selected {{ end }} value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select>
                    <sub class="text-red-500">{{ .Invoice.Errors.AddShippingToTotal }}</sub>
                </div>

                <div class="flex flex-col gap-2 md:w-1/5">
                    <label for="gta"><strong>GTA</strong></label>
                    <input class="rounded bg-gray-100 p-2 md:w-full" type="text" id="gta" name="gta" value="{{ .Invoice.Gta }}">
                    <sub class="text-red-500">{{ .Invoice.Errors.Gta }}</sub>
                </div>

                <div class="flex flex-col gap-2 md:w-1/5">
                    <strong>Produtos</strong>
                    <button onclick="this.closest('section').querySelector('dialog').showModal()"
                        class="group rounded bg-gray-600 px-4 py-2 text-white hover:bg-gray-700 md:w-full" type="button">
                        <div class="group-active:scale-90">Gerenciar</div>
                    </button>
                    <sub class="text-red-500">{{ .Invoice.Errors.Items }}</sub>
                </div>

            </div>

        </div>

        <dialog id="invoice-items-dialog" class="h-2/3 rounded px-6 pb-4 outline-transparent sm:w-11/12 md:w-3/4 lg:w-2/3">
            <div class="sticky top-0 z-10 flex items-center gap-6 border-b border-gray-300 bg-white py-2">
                <button class="flex justify-center rounded bg-green-400 px-4 py-2 hover:bg-green-500 active:bg-green-600" type="button"
                    onclick="this.closest('dialog').close()">
                    <svg class="mr-3 translate-y-1 transform" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                    Confirmar
                </button>
                <button class="rounded bg-gray-200 px-4 py-2 font-bold hover:bg-gray-300 active:bg-gray-400" type="button"
                    hx-get="/invoices/items/form-section" hx-target="#invoice-items-dialog" hx-swap="beforeend"
                    hx-trigger="click">
                    +
                </button>
            </div>

            {{ range .Invoice.Items }}
                {{ template "partials/invoice-form-item-section" . }}
            {{ end }}
        </dialog>
    </section>
</form>
{{ end }}
