{{ define "partials/invoice-form-item-section" }}

{{ $FormSelectFields := GetInvoiceItemSelectFields }}

<section>
    <div class="flex items-center justify-end pr-1 pt-2">
        <button class="rounded p-1 shadow shadow-gray-400 hover:bg-gray-100 active:bg-gray-200" type="button"
            onclick="this.closest('section').remove()">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                <path
                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
            </svg>
        </button>
    </div>

    <div class="flex border-b border-gray-400 pb-4 md:flex-col md:gap-6">

        <div class="flex w-1/2 flex-col gap-4 pr-4 md:w-full md:flex-row md:pr-0">

            <div class="flex flex-col gap-2 md:w-1/3">
                <label for="group"><strong>Grupo</strong></label>
                <select class="h-10 rounded bg-gray-100 p-2" id="group" name="group">
                    {{ range $FormSelectFields.Groups }}
                        <option {{ if eq $.Group . }} selected {{ end }} value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <sub class="text-red-600">{{ .Errors.Group }}</sub>
            </div>

            <div class="flex flex-col gap-2 md:w-1/3">
                <label for="description"><strong>Descrição</strong></label>
                <input class="rounded bg-gray-100 p-2" type="text" id="description" name="description" value="{{ .Description }}">
                <sub class="text-red-600">{{ .Errors.Description }}</sub>
            </div>

            <div class="flex flex-col gap-2 md:w-1/3">
                <label for="quantity"><strong>Quantidade</strong></label>
                <input class="rounded bg-gray-100 p-2" type="number" step="0.01" id="quantity" name="quantity"
                    value="{{ .Quantity }}">
                <sub class="text-red-600">{{ .Errors.Quantity }}</sub>
            </div>

        </div>

        <div class="flex w-1/2 flex-col gap-4 md:w-full md:flex-row">

            <div class="flex flex-col gap-2 md:w-1/3">
                <label class="truncate" for="value_per_unity"><strong>Valor unitário</strong></label>
                <input class="rounded bg-gray-100 p-2" type="number" step="0.01" id="value_per_unity"
                    name="value_per_unity" value="{{ .ValuePerUnity }}">
                <sub class="text-red-600">{{ .Errors.ValuePerUnity }}</sub>
            </div>

            <div class="flex flex-col gap-2 md:w-1/3">
                <label for="origin"><strong>Origem</strong></label>
                <select class="h-10 rounded bg-gray-100 p-2" id="origin" name="origin">
                    {{ range $FormSelectFields.Origins }}
                        <option {{ if eq $.Origin . }} selected {{ end }} value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <sub class="text-red-600">{{ .Errors.Origin }}</sub>
            </div>

            <div class="flex flex-col gap-2 md:w-1/3">
                <label class="truncate" for="unity_of_measurement"><strong>Unidade de medida</strong></label>
                <select class="h-10 rounded bg-gray-100 p-2" id="unity_of_measurement" name="unity_of_measurement">
                    {{ range $FormSelectFields.UnitiesOfMeasurement }}
                        <option {{ if eq $.UnityOfMeasurement . }} selected {{ end }} value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <sub class="text-red-600">{{ .Errors.UnityOfMeasurement }}</sub>
            </div>

        </div>

    </div>
</section>
{{ end }}
