{{ define "partials/requests-overview" }}
<div id="requests-overview-wrapper" class="py-6">
    <ul id="requests-overview" class="flex flex-col gap-4">
        {{ $PrevDate := "" }}
        {{ range . }}
            {{ $CurrentDate := FormatDate .CreatedAt }}

            {{ if ne $CurrentDate $PrevDate }}
                {{ $PrevDate = $CurrentDate }}
                <strong>{{ FormatDateAsBR .CreatedAt }}</strong>
            {{ end }}

            {{ template "partials/request-card" . }}
        {{ else }}
            <h2>Nenhum requerimento nesta data :(</h2>
        {{ end }}
    </ul>
    {{ template "partials/request-card-details" }}
</div>
{{ end }}
