package scripts

script OpenDialog(target string) {
	const dialog = document.querySelector(target)	
	if (dialog) {
		dialog.showModal()
	}
}

script CloseDialog(target string) {
	const dialog = document.querySelector(target)	
	if (dialog) {
		dialog.close()
	}
}
