@tailwind base;
@tailwind components;
@tailwind utilities;

.hx-indicator {
    display: none;
    transition: all 500ms ease-in;
}
.htmx-request .hx-indicator {
    display: flex;
}
.htmx-request.hx-indicator {
    display: flex;
}

.icon-btn.htmx-request .hx-indicator {
    display: inline;
}
.icon-btn.htmx-request .original-icon {
    display: none;
}
