{{ define "title" }} Entidades {{ end }}

{{ define "main" }}
<div class="flex justify-between gap-6">
    <section class="flex-1">
        <ul class="flex flex-col gap-6">
            <li
                class="flex cursor-pointer gap-16 rounded px-6 py-3 shadow shadow-gray-300 transition-shadow hover:shadow-gray-400">
                <div> <strong>Nome</strong>: <span>Emerson</span> </div>
                <div> <strong>CPF/CNPJ</strong>: <span>123456789</span> </div>
                <div> <strong>Inscrição Estadual</strong>: <span>9876543211245</span> </div>
                <div> <strong>Bairro</strong>: <span>Esmeril</span> </div>
            </li>
        </ul>
    </section>
    <aside class="w-2/5">
        <form class="sticky top-20">
            <div class="flex py-2">
                <input class="flex-1 text-2xl font-semibold" type="text" name="name" value="Emerson" placeholder="Nome">
            </div>
            <hr>
            <div class="mt-4 flex">
                <div class="mr-3 flex flex-1 flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <label for="user_type"><strong>Tipo</strong></label>
                        <select class="h-10 rounded bg-gray-100 p-2" id="user_type" name="user_type">
                            <option value="Produtor Rural">Produtor Rural</option>
                        </select>
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="cpf_cnpj"><strong>CPF/CNPJ</strong></label>
                        <input class="rounded bg-gray-100 p-2" type="text" id="cpf_cnpj" name="cpf_cnpj"
                            value="123456789">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="ie"><strong>Inscrição Estadual</strong></label>
                        <input class="rounded bg-gray-100 p-2" type="text" id="ie" name="ie" value="9876543211245">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="email"><strong>E-mail</strong></label>
                        <input class="rounded bg-gray-100 p-2" type="text" id="email" name="email"
                            value="cayo.rodrigues1914@gmail.com">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="password"><strong>Senha</strong></label>
                        <input class="rounded bg-gray-100 p-2" type="password" id="password" name="password"
                            value="senhaforte123">
                    </div>
                </div>

                <div class="ml-3 flex flex-1 flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <label for="postal_code"><strong>CEP</strong></label>
                        <input class="rounded bg-gray-100 p-2" type="text" id="postal_code" name="postal_code"
                            value="37508000">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="neighborhood"><strong>Bairro</strong></label>
                        <input class="rounded bg-gray-100 p-2" type="text" id="neighborhood" name="neighborhood"
                            value="Esmeril">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="street_type"><strong>Logradouro (tipo)</strong></label>
                        <input class="rounded bg-gray-100 p-2" type="text" id="street_type" name="street_type"
                            value="Estrada">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="street_name"><strong>Logradouro (nome)</strong></label>
                        <input class="rounded bg-gray-100 p-2" type="text" id="street_name" name="street_name"
                            value="Nome da rua">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="house_number"><strong>Número da casa</strong></label>
                        <input class="rounded bg-gray-100 p-2" type="text" id="house_number" name="house_number"
                            value="47">
                    </div>
                </div>
            </div>
            <div class="flex gap-6">
                <button class="mt-4 flex flex-1 justify-center rounded bg-green-400 px-4 py-3 hover:bg-green-500"
                    type="submit">
                    <svg class="mr-3 translate-y-1 transform" xmlns="http://www.w3.org/2000/svg" height="1em"
                        viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                    </svg>
                    Salvar
                </button>
                <button class="mt-4 flex flex-1 justify-center rounded bg-sky-300 px-4 py-3 hover:bg-sky-400">
                    <svg class="mr-3 translate-y-1 transform" xmlns="http://www.w3.org/2000/svg" height="1em"
                        viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M142.9 142.9c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5c0 0 0 0 0 0H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5c7.7-21.8 20.2-42.3 37.8-59.8zM16 312v7.6 .7V440c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l41.6-41.6c87.6 86.5 228.7 86.2 315.8-1c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.2 62.2-162.7 62.5-225.3 1L185 329c6.9-6.9 8.9-17.2 5.2-26.2s-12.5-14.8-22.2-14.8H48.4h-.7H40c-13.3 0-24 10.7-24 24z" />
                    </svg>
                    Restaurar
                </button>
                <button class="mt-4 flex flex-1 justify-center rounded bg-red-400 px-4 py-3 hover:bg-red-500">
                    <svg class="mr-3 translate-y-1 transform" xmlns="http://www.w3.org/2000/svg" height="1em"
                        viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                    </svg>
                    Deletar
                </button>
            </div>
        </form>
    </aside>
</div>
{{ end }}
