/* list-entities */

.entities-list__card {
  box-shadow: 1px 1px 5px darkgray;
  margin: 2rem 1rem;
  padding: 0;
  transition: background .2s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.entities-list__card:hover {
  background: #fbfbfb;
}

.entities-list__card li {
  padding: .5rem 0;
}

.entity-card__shallow-info {
    flex: 12;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1.5rem;
    margin: 0;
}
.entity-card__shallow-info h4 {
    margin: 0;
}
.entity-card__shallow-info > .shallow-info__data {
    flex: 1;
}

.entity-card__action-icons {
  flex: 1;
  border-left: 1px dashed lightgray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.entity-card__update-icon, .entity-card__delete-icon {
    cursor: pointer;
}
.entity-card__action-icons svg {
    height: 25px;
}
.entity-card__action-icons svg:hover {
    fill: red;
}

.entity-card__details-dialog {
    min-width: 50vw;
    padding: 2rem;
}
.entity-card__details-dialog h3 {
    margin: 0;
}
.entity-details__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 1rem 0;
}
.details-dialog__info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0 0;
}
.details-dialog__info-section > ul {
    flex: 1;
}

.entity-card__update-dialog {
    width: 65vw;
}

.update-entity__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* register-entities */

.entity-form {
    padding: 1rem;
}

.entity-form__inputs-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 0.75rem;
    margin-bottom: 2rem;
    column-count: 4;
}

.entity-form__input {
    width: 23%;
    display: flex;
    flex-direction: column;
}

.entity-form__input > input, .entity-form__input > select {
    padding: .5rem;
    line-height: 1rem;
}

.entity-form__button {
    text-transform: uppercase;
    padding: 1rem;
    background: var(--main-color);
    border-radius: .5rem;
    border: 1px solid transparent;
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
}
