{{ define "partials/request-card-metrics-details" }}
    <li class="sm:w-1/2 sm:pr-2">
        <strong>Lucro total</strong>: <span class="text-green-600"> R$ {{ .Results.TotalIncome }}</span>
    </li>
    <li class="sm:w-1/2 sm:pl-2">
        <strong>Lucro médio</strong>: <span class="text-green-600"> R$ {{ .Results.AvgIncome }}</span>
    </li>
    <li class="sm:w-1/2 sm:pr-2">
        <strong>Despesa total</strong>: <span class="text-red-600"> R$ {{ .Results.TotalExpenses }}</span>
    </li>
    <li class="sm:w-1/2 sm:pl-2">
        <strong>Despesa média</strong>: <span class="text-red-600"> R$ {{ .Results.AvgExpenses }}</span>
    </li>
    <li class="sm:w-1/2 sm:pr-2">
        <strong>Diferença</strong>: <span class="text-{{ if .Results.IsPositive}}green{{ else }}red{{ end }}-600"> R$ {{ .Results.Diff }}</span>
    </li>
    <li class="sm:w-1/2 sm:pl-2">
        <strong>Total de transações</strong>: <span> {{ .Results.TotalRecords }}</span>
    </li>
    <li class="sm:w-1/2 sm:pr-2">
        <strong>Vendas</strong>: <span> {{ .Results.PositiveRecords }}</span>
    </li>
    <li class="sm:w-1/2 sm:pl-2">
        <strong>Compras</strong>: <span> {{ .Results.NegativeRecords }}</span>
    </li>
{{ end }}
