{{ define "partials/request-card-invoice-details" }}
    <ul class="grid grid-cols-1 gap-4 py-4 md:grid-cols-2">
        <li>
            <strong>Número</strong>: <span> {{ if .Number }} {{ .Number }} {{ else }} - {{ end }} </span>
        </li>
        <li>
            <strong>Protocolo</strong>: <span> {{ if .Protocol }} {{ .Protocol }} {{ else }} - {{ end }} </span>
        </li>
        <li>
            <strong>Operação</strong>: <span> {{ .Operation }} </span>
        </li>
        <li>
            <strong>CFOP</strong>: <span> {{ .Cfop }} </span>
        </li>
        <li>
            <strong>Contribuinte ICMS</strong>: <span> {{ .IsIcmsContributor }} </span>
        </li>
        <li>
            <strong>Consumidor Final</strong>: <span> {{ .IsFinalCustomer }} </span>
        </li>
        <li>
            <strong>Frete</strong>: <span> {{ .Shipping }} </span>
        </li>
        <li>
            <strong>Adicionar frete ao total</strong>: <span> {{ .AddShippingToTotal }} </span>
        </li>
        <li>
            <strong>GTA</strong>: <span> {{ if .Gta }} {{ .Gta }} {{ else }} - {{ end }} </span>
        </li>
        <li>
            <strong>Informações complementares</strong>: <span> {{ if .ExtraNotes }} {{ .ExtraNotes }} {{ else }} - {{ end }} </span>
        </li>
        <li>
            <strong>Nome do arquivo</strong>: <span> {{ if .CustomFileName }} {{ .CustomFileName }} {{ else }} - {{ end }} </span>
        </li>
        <li>
            <strong>Quantidade de itens</strong>: <span> {{ len .Items }} </span>
        </li>
        <li>
            <strong>IE do Remetente</strong>: <span> {{ .SenderIe }} </span>
        </li>
    </ul>
{{ end }}
