{{ define "partials/request-card-details" }}

<dialog id="request-card-details" class="w-11/12 rounded px-6 pb-6 sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-1/3">
    {{ if . }}

        {{ $ReqCardData := GetReqCardData . }}

        <header class="sticky top-0 flex items-center justify-between bg-white pb-4 pt-6">
            <div class="flex gap-4 text-xl font-semibold">
                <span>{{ $ReqCardData.From }}</span>
                <svg class="translate-y-1 transform" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path
                    d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z" />
                </svg>
                <span>{{ $ReqCardData.ToPrefix }}{{ $ReqCardData.To }}</span>
            </div>

            <div class="flex gap-3">
                <button id="expand-or-shrink-details-dialog-btn" class="rounded px-4 py-3 transition-colors bg-gray-200 hover:bg-gray-300 active:bg-gray-400" type="button"
                    onclick="expandOrShrinkDialog('request-card-details', this)">
                   <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M32 32C14.3 32 0 46.3 0 64v96c0 17.7 14.3 32 32 32s32-14.3 32-32V96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H32zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7 14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H64V352zM320 32c-17.7 0-32 14.3-32 32s14.3 32 32 32h64v64c0 17.7 14.3 32 32 32s32-14.3 32-32V64c0-17.7-14.3-32-32-32H320zM448 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32V352z"/></svg>
                </button>

                <button onclick="this.closest('dialog').close()" class="rounded px-4 py-3 transition-colors bg-gray-200 hover:bg-gray-300 active:bg-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                        <path
                                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                    </svg>
                </button>
            </div>
        </header>
        <hr>
        <pre class="py-4 text-{{ $ReqCardData.FeedbackTextColor }}-600 whitespace-pre-wrap">
            {{- $ReqCardData.ReqMsg -}}
        </pre>
        <hr>
        {{ if eq $ReqCardData.OverviewType "invoice" }}
            {{ template "partials/request-card-invoice-details" . }}
        {{ else if eq $ReqCardData.OverviewType "canceling" }}
            {{ template "partials/request-card-canceling-details" . }}
        {{ else if eq $ReqCardData.OverviewType "metrics" }}
            {{ template "partials/request-card-metrics-details" . }}
        {{ else if eq $ReqCardData.OverviewType "printing" }}
            {{ template "partials/request-card-printing-details" . }}
        {{ end }}

        {{ if $ReqCardData.HasItems }}
            {{ template "partials/request-card-items-details" . }}
        {{ end }}
    {{ end }}
</dialog>

{{ end }}
