{{ define "partials/request-card-details" }}

<dialog id="request-card-details" class="w-11/12 rounded px-6 pb-6 sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-1/3">
    {{ if . }}

        {{ $ReqCardData := GetReqCardData . }}

        <header class="sticky top-0 flex items-center justify-between bg-white pb-4 pt-6">
            <div class="flex gap-4 text-xl font-semibold">
                <span>{{ $ReqCardData.From }}</span>
                <svg class="translate-y-1 transform" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path
                    d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128z" />
                </svg>
                <span>{{ $ReqCardData.ToPrefix }}{{ $ReqCardData.To }}</span>
            </div>
            <button onclick="this.closest('dialog').close()" class="rounded p-2 transition-colors hover:bg-gray-200 active:bg-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                    <path
                        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                </svg>
            </button>
        </header>
        <hr>
        <pre class="py-4 text-{{ $ReqCardData.FeedbackTextColor }}-600 whitespace-pre-wrap">
            {{- $ReqCardData.ReqMsg -}}
        </pre>
        <hr>
        <ul class="flex flex-col gap-4 py-4 sm:flex-row sm:flex-wrap sm:gap-x-0">
            {{ if eq $ReqCardData.OverviewType "invoice" }}
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Número</strong>: <span> {{ if .Number }} {{ .Number }} {{ else }} - {{ end }} </span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Protocolo</strong>: <span> {{ if .Protocol }} {{ .Protocol }} {{ else }} - {{ end }} </span>
                </li>
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Operação</strong>: <span> {{ .Operation }} </span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>CFOP</strong>: <span> {{ .Cfop }} </span>
                </li>
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Contribuinte ICMS</strong>: <span> {{ .IsIcmsContributor }} </span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Consumidor Final</strong>: <span> {{ .IsFinalCustomer }} </span>
                </li>
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Frete</strong>: <span> {{ .Shipping }} </span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Adicionar frete ao total</strong>: <span> {{ .AddShippingToTotal }} </span>
                </li>
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>GTA</strong>: <span> {{ if .Gta }} {{ .Gta }} {{ else }} - {{ end }} </span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Informações complementares</strong>: <span> {{ if .ExtraNotes }} {{ .ExtraNotes }} {{ else }} - {{ end }} </span>
                </li>
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Nome do arquivo</strong>: <span> {{ if .CustomFileName }} {{ .CustomFileName }} {{ else }} - {{ end }} </span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Quantidade de itens</strong>: <span> {{ len .Items }} </span>
                </li>
            {{ else if eq $ReqCardData.OverviewType "canceling" }}
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Ano</strong>: <span> {{ .Year }} </span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Justificativa</strong>: <span> {{ .Justification }} </span>
                </li>
            {{ else if eq $ReqCardData.OverviewType "metrics" }}
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Lucro total</strong>: <span class="text-green-600"> R$ {{ .Results.TotalIncome }}</span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Lucro médio</strong>: <span class="text-green-600"> R$ {{ .Results.AvgIncome }}</span>
                </li>
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Despesa total</strong>: <span class="text-red-600"> R$ {{ .Results.TotalExpenses }}</span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Despesa média</strong>: <span class="text-red-600"> R$ {{ .Results.AvgExpenses }}</span>
                </li>
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Diferença</strong>: <span class="text-{{ if .Results.IsPositive}}green{{ else }}red{{ end }}-600"> R$ {{ .Results.Diff }}</span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Total de transações</strong>: <span> {{ .Results.TotalRecords }}</span>
                </li>
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Vendas</strong>: <span> {{ .Results.PositiveRecords }}</span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Compras</strong>: <span> {{ .Results.NegativeRecords }}</span>
                </li>
            {{ else if eq $ReqCardData.OverviewType "printing" }}
                <li class="sm:w-1/2 sm:pr-2">
                    <strong>Identificador</strong>: <span> {{ .InvoiceID }}</span>
                </li>
                <li class="sm:w-1/2 sm:pl-2">
                    <strong>Tipo de identificação</strong>: <span> {{ .InvoiceIDType }}</span>
                </li>
                <li class="sm:w-1/2">
                    <strong>Nome do arquivo</strong>: <span> {{ if .CustomFileName }} {{ .CustomFileName }} {{ else }} - {{ end }} </span>
                </li>
            {{ end }}
        </ul>
        {{ if $ReqCardData.HasItems }}
            <hr>
            <h4 class="py-4 text-xl">Produtos</h4>
            <div class="flex flex-col gap-4">
                {{ range .Items }}
                    <ul class="flex flex-col gap-4 rounded border border-gray-400 p-4 sm:flex-row sm:flex-wrap sm:gap-x-0">
                        <li class="sm:w-1/2 sm:pr-2">
                            <strong>Grupo</strong>: <span> {{ .Group }} </span>
                        </li>
                        <li class="sm:w-1/2 sm:pl-2">
                            <strong>NCM</strong>: <span> {{ .NCM }} </span>
                        </li>
                        <li class="sm:w-1/2 sm:pr-2">
                            <strong>Descrição</strong>: <span> {{ .Description }} </span>
                        </li>
                        <li class="sm:w-1/2 sm:pl-2">
                            <strong>Quantidade</strong>: <span> {{ .Quantity }} </span>
                        </li>
                        <li class="sm:w-1/2 sm:pr-2">
                            <strong>Valor Unitário</strong>: <span> {{ .ValuePerUnity }} </span>
                        </li>
                        <li class="sm:w-1/2 sm:pl-2">
                            <strong>Origem</strong>: <span> {{ .Origin }} </span>
                        </li>
                        <li class="sm:w-1/2">
                            <strong>Unidade de medida</strong>: <span> {{ .UnityOfMeasurement }} </span>
                        </li>
                    </ul>
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
</dialog>

{{ end }}
